name: Check & fix styling

on: [push]

jobs:
    pint:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - name: Setting PHP Version
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.3"

            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}

            - name: Install
              run: composer install

            - name: Run pint
              run: ./vendor/bin/pint

            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: Fix styling
